@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins/Poppins-Black.ttf)format(ttf);
}
@font-face {
    font-family: vazir;
    src: url(/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot)format(eot);
    src: url(/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf)format(ttf);
    src: url(/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff)format(woff);
    src: url(/fonts/vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2)format(woff2);

}
@font-face {
    font-family: vazir-bold;
    src: url(/fonts/vazir-font-v16.1.0/Vazir-Bold.eot)format(eot);
    src: url(/fonts/vazir-font-v16.1.0/Vazir-Bold.ttf)format(ttf);
    src: url(/fonts/vazir-font-v16.1.0/Vazir-Bold.woff)format(woff);
    src: url(/fonts/vazir-font-v16.1.0/Vazir-Bold.woff2)format(woff2);

}